# ultralytics==8.0.215
# cvzone==1.6.1
# opencv-python==4.8.1.78
# torch==1.11.0
# torchvision==0.12.0
# Flask==2.1.1
# gunicorn==20.1.0

ultralytics==8.0.215
cvzone==1.6.1
opencv-python==4.8.1.78
torch==1.11.0
torchvision==0.12.0
Flask==2.1.1
gunicorn==20.1.0
tensorflow==2.10.0rc0
Flask-CORS==3.0.10
firebase-admin==5.0.2
Pillow==8.2.0
numpy
python-dotenv==0.19.2
requests==2.26.0
